[gui]
[gui]
[user]
	email = bdenison@purdue.edu
	name = Ben Denison
[gui]
[gui]
[gui]
[gui]
	recentrepo = C:/Users/Ben_Kenobi/Documents/gitClimate
	recentrepo = C:/Users/Ben_Kenobi/Documents/gitClimateOld
	recentrepo = C:/Users/Ben_Kenobi/Documents/Project Ceres
